
  
.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-left: 450px;
    color:black;
    overflow: hidden;
}
  
.movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 50px;
    width: 100%;
    padding-top: 70px;
}

.nav{
  display:flex;
  width:100%;
  height:80px;
  transition: all .5s;
  position:fixed;
  z-index: 1000;
}
.nav:hover{
  background-color:rgb(14, 3, 85);
}
.nav_title{
  margin-top:18px;
  margin-left:5%;
  color:rgb(195, 185, 247);
  font-size:30px;
  font-weight: bold;
}
.nav_menu{
  margin-top:27px;
  display: flex;
  margin-left:350px;
  color:white;
}

.nav_action{
  margin-left:50px;
}
.nav_romance{
  margin-left:50px;
}
.nav_animation{
  margin-left:50px;
}
.nav_icon{
  margin-left:400px;
  font-size:20px;
  font-weight: lighter;
}
.nav_icon svg{
  margin-bottom: 1px;
}
.nav_bell{
  margin-left:20px;
  font-size:20px;
  font-weight: lighter;
}
.nav_bell{
  margin-bottom: 1px;
}
.nav_insta{
  margin-left:20px;
  font-size:25px;
}
.nav_insta svg{
  margin-bottom: 15px;
}
.nav_action{
  margin-left:40px;
}
.nav_romance{
  margin-left:40px;
}
.nav_animation{
  margin-left:40px;
}

.toggle{
  display:none;
  font-size:25px;

}
@media screen and (max-width: 1090px) {
    .movies {
      grid-template-columns: 1fr;
      width: 100%;
    }
    
}
@media screen and (min-width:1488px){
   .container{
     height:100%;
     display: flex;
   }
}
@media screen and (min-width:1350px) and (max-width:1488px){
  .container{
    height:100%;
    display: flex;
  }
  .loader{
    margin-left: 440px;
  }
  .nav{
    width:100%;
  }
  .nav_menu{
    margin-left:300px;
  }
  .nav_icon{
    margin-left:330px;
  }
  .nav_bell{
    margin-left:20px;
  }
  .nav_insta{
    margin-left:20px;
  }
}
@media screen and (min-width:1280px)and (max-width:1350px){
  .container{
    height:100%;
    display: flex;
  }
  .loader{
    margin-left: 400px;
  }
  .nav{
    width:100%;
  }
  .nav_menu{
    margin-left:250px;
  }
  .nav_icon{
    margin-left:300px;
  }
  .nav_bell{
    margin-left:20px;
  }
  .nav_insta{
    margin-left:20px;
  }
}

@media screen and (min-width:1150px) and (max-width:1280px){
  .container{
    height:100%;
    display: flex;
  }
  .loader{
    margin-left: 340px;
  }
  .nav{
    width:100%;
  }
  .nav_menu{
    margin-left:250px;
  }
  .nav_action{
    margin-left:30px;
  }
  .nav_romance{
    margin-left:30px;
  }
  .nav_animation{
    margin-left:30px;
  }
  .nav_icon{
    margin-left:250px;
  }
  .nav_bell{
    margin-left:15px;
  }
  .nav_insta{
    margin-left:15px;
  }
}
@media screen and (min-width:992px) and (max-width:1149px){
  .container{
    height:100%;
    display: flex;
  }
  .loader{
    margin-left: 320px;
  }
  .nav{
    width:100%;
  }
  .nav_menu{
    margin-left:200px;
  }
  .nav_action{
    margin-left:30px;
  }
  .nav_romance{
    margin-left:30px;
  }
  .nav_animation{
    margin-left:30px;
  }
  .nav_icon{
    margin-left:150px;
  }
  .nav_bell{
    margin-left:15px;
  }
  .nav_insta{
    margin-left:15px;
  }
}
@media screen and (min-width:768px) and (max-width:992px){
  .container{
    height:100%;
    display: flex;
  }
  .loader{
    margin-left: 220px;
  }
  .nav{
    width:100%;
  }
  .nav_menu{
    margin-left:100px;
  }
  .nav_action{
    margin-left:30px;
  }
  .nav_romance{
    margin-left:30px;
  }
  .nav_animation{
    margin-left:30px;
  }
  .nav_icon{
    margin-left:60px;
  }
  .nav_bell{
    margin-left:15px;
  }
  .nav_insta{
    margin-left:15px;
  }
  
  
}
@media screen and (min-width:500px) and (max-width:767px){
  .loader{
    margin-left: 10px;
    
  }
  .nav{
    width:100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 250px;
    position:relative;
  }
  .nav_menu{
    margin-top:0px;
    margin-bottom: 50px;
    margin-left:45%;
    flex-direction: column;
  }
  .nav_action{
    margin-left:0;
    margin-top:10px;
  }
  .nav_romance{
    margin-left:0;
    margin-top:10px;
  }
  .nav_animation{
    margin-left:0;
    margin-top:10px;
  }
  .nav_icon{
    display:none;
    
  }
  .nav_bell{
    display: none;
   
  }
  .nav_insta{
    margin-left:40%;
    margin-top:10px;
   
  }
}
@media screen and (min-width:300px) and (max-width:500px){
  
  .loader{
    margin-left: 0px;
  }
  .nav{
    width:100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 250px;
    position:relative;
  }
  .nav_menu{
    margin-top:0px;
    margin-bottom: 50px;
    margin-left:45%;
    flex-direction: column;
  }
  .nav_action{
    margin-left:0;
    margin-top:10px;
  }
  .nav_romance{
    margin-left:0;
    margin-top:10px;
  }
  .nav_animation{
    margin-left:0;
    margin-top:10px;
  }
  .nav_icon{
    display:none;
    
  }
  .nav_bell{
    display: none;
   
  }
  .nav_insta{
    margin-left:40%;
    margin-top:10px;
   
  }
}